module allow-container-samba 1.0;

require {
	type container_t;
	type samba_share_t;
	class dir { read watch };
	class file { lock open read };
}

#============= container_t ==============
allow container_t samba_share_t:dir { read watch };
allow container_t samba_share_t:file { lock open read };
