[Unit]
After=nicotine-vpn-gluetun.service
PartOf=nicotine-vpn-gluetun.service

[Service]
ExecStartPre=/usr/local/bin/get-gluetun-forwarded-port.sh 8001 FORWARD_PORT /run/user/{{ podman_uid }}/nicotine-vpn-gluetun-forwarded-port.env
Restart=on-failure
RestartSec=5

[Container]
AutoUpdate=registry
ContainerName=nicotine-vpn-nicotine
Environment=PUID={{ podman_uid }} PGID={{ nasusers_gid }} UMASK=006
Environment=LOGIN=m2m2r WEB_UI_USER=mimir
Environment=TZ=America/Los_Angeles
EnvironmentFile=nicotine-vpn-nicotine.env
EnvironmentFile=%t/nicotine-vpn-gluetun-forwarded-port.env
Image=docker.io/sirjmann92/nicotineplus-proper:test
Network=container:nicotine-vpn-gluetun
User=root
UserNS=keep-id
GroupAdd=keep-groups
Volume=nicotine_config:/config:Z
Volume=nicotine_data:/data:Z
Volume=/mnt/nas/share:/share:ro
Volume=/mnt/scratch/nicotine:/downloads

[Install]
WantedBy=default.target
