[Container]
AddCapability=NET_ADMIN NET_RAW
AddDevice=/dev/net/tun:/dev/net/tun
ContainerName=gluetun
GroupAdd=keep-groups
EnvironmentFile=slskd-vpn-gluetun.env
Environment=VPN_SERVICE_PROVIDER=protonvpn VPN_TYPE=wireguard VPN_PORT_FORWARDING=on "VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'sed -i \"s/^\\([[:space:]]*listen_port:\\).*/\\1 {{PORT}}/\" /slskd_app/slskd.yml'" "SERVER_COUNTRIES=United States"
Image=docker.io/qmcgaw/gluetun:latest
Pod=slskd-vpn.pod
Volume=slskd_app:/slskd_app:z
