[Unit]
Requires=slskd-vpn-gluetun.service
After=slskd-vpn-gluetun.service

[Container]
AutoUpdate=registry
ContainerName=slskd-vpn-slskd
Environment=SLSKD_VPN=true SLSKD_VPN_PORT_FORWARDING=true SLSKD_VPN_GLUETUN_URL=http://localhost:8000 SLSKD_USERNAME=mimir SLSKD_SLSK_USERNAME=m1m1r SLSKD_UMASK=006 SLSKD_SHARED_DIR=/share SLSKD_DOWNLOADS_DIR=/files/downloads SLSKD_INCOMPLETE_DIR=/files/incomplete
EnvironmentFile=slskd-vpn-slskd.env
GroupAdd=keep-groups
Image=docker.io/slskd/slskd:latest
Pod=slskd-vpn.pod
Volume=slskd_app:/app:Z
Volume=/mnt/nas/share:/share:ro
Volume=/mnt/scratch/slskd:/files
