[Container]
AddCapability=NET_ADMIN NET_RAW
AddDevice=/dev/net/tun:/dev/net/tun
ContainerName=slskd-vpn-gluetun
Environment=HTTP_CONTROL_SERVER_ADDRESS=:8002 VPN_SERVICE_PROVIDER=protonvpn VPN_TYPE=wireguard VPN_PORT_FORWARDING=on "SERVER_COUNTRIES=United States"
EnvironmentFile=slskd-vpn-gluetun.env
Image=docker.io/qmcgaw/gluetun:latest
PublishPort=5030:5030/tcp
PublishPort=8002:8002/tcp
Volume=./gluetun-config.toml:/gluetun/auth/config.toml:ro

[Install]
WantedBy=default.target
